<mat-card-content>
  <form class="form_login" [formGroup]="signinForm" (ngSubmit)="loginUser()" autocomplete="off">
     <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput  placeholder="Email"  name="username" formControlName="username"  required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput type="password" placeholder="Password"  name="password" formControlName="password" autocomplete="off">
         </mat-form-field>
         <button type="submit" class="btn btn-block btn-primary">Sign in</button>
  </form>
</mat-card-content>


<!--<div class="auth-wrapper">
  <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
    <h3 class="h3 mb-3 font-weight-normal text-center">Please sign in</h3>
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="username"
        placeholder="Enter email"
        required
      />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-block btn-primary">Sign in</button>
  </form>
</div>
-->