  <mat-card-content>
    <form class="form_login" [formGroup]="signupForm" (ngSubmit)="registerUser()" autocomplete="off">
       <mat-form-field class="full-width">
              <mat-label>First Name</mat-label>
              <input  matInput  placeholder="First name"  name="firstName" formControlName="firstName"  required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Last Name</mat-label>
              <input  matInput  placeholder="Last Name" name="lastName" formControlName="lastName"  required>
           </mat-form-field>
           <mat-form-field class="full-width">
            <mat-label>Mobile</mat-label>
            <input type="number"  matInput  placeholder="Mobile" name="mobile" formControlName="mobile"  required>
         </mat-form-field>
         <mat-form-field class="full-width">
          <mat-label>Address</mat-label>
          <input  matInput  placeholder="Address" name="address" formControlName="address"  required>
       </mat-form-field>
        <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput  placeholder="Email" name="email" formControlName="email" autocomplete="off">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input  matInput type="password" placeholder="Password"  name="password" formControlName="password" autocomplete="off">
           </mat-form-field>
           <button type="submit" class="btn btn-block btn-primary">Sign up</button>
    </form>
  </mat-card-content>


<!--<div class="auth-wrapper">
  <form
    class="form-signin"
    [formGroup]="signupForm"
    (ngSubmit)="registerUser()"
  >
    <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Enter name"
        required
      />
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Enter email"
        required
      />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
        required
      />
    </div>
    <button type="submit" class="btn btn-block btn-primary">Sign up</button>
  </form>
</div>
-->